<ul class="nav navbar-nav navbar-right" ng-controller="TranslateController as tCtl">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">{{ 'lang.' + tCtl.lang | translate }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a></a></li>
            <li ng-repeat="lang in tCtl.languages">
                <a ng-click="tCtl.changeLanguage(lang)">{{ 'lang.'+lang | translate}}</a>
            </li>
        </ul>
    </li>

</ul>
